.App {
	  width: 96%;
    height: 80vh;
    max-width: 1200px;
    margin: 30px auto;
    position: relative;
  	text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.questions-wrapper,
.ans-wrapper {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ans-box {
	/* width: 150px; */
    padding: 10px;
    border-radius: 10px;
    margin: 10px 20px;
    display: inline-block;
    background: #74eff5;
    vertical-align: middle;
    cursor: pointer;
    font-size: 20px;
}

.ans-box:hover { opacity: .5; }

.disabled-ans {
	background: #ccc;
	cursor: auto;
}

.disabled-ans:hover { opacity: 1; }

.ques {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.ques p {
  font-size: 40px;
}

.btn {
  width: 200px;
  border: 2px solid;
  border-radius: 5px;
  padding: 15px 20px;
  display: inline-block;
  background: #fff;
  font-size: 23px;
  cursor: pointer;
}

.btn:hover {
  background: #74eff5;
  transition: all .2s linear;
}

/* animations */
/* .left-to-right-anime { animation: leftToRight .2s linear; }

.right-to-left-anime { animation: rightToLeft .2s linear; }

@keyframes leftToRight {
    0% { transform: translateX(-20%); opacity: 0 }
    100% { transform: translateX(0); opacity: 1 }
} */

@keyframes rightToLeft {
    0% { transform: translateX(20%); opacity: 0 }
    100% { transform: translateX(0); opacity: 1 }
}